<div style="width: 300px;margin-left: auto;margin-right: auto;margin-top: 90px;">
	<h2 style="font-family: Arial, sans-serif;font-size: 30px;font-weight: normal;margin-top: 20px;margin-bottom: 10px;line-height: 1.1;">
		New Company
	</h2>

	<div>
    	<%= form_for(@company) do |f| %>
			<div>
			<%= f.label :username %>
			<%= f.text_field :username, style: "width: 100% !important;padding: 8px 10px 7px;" %>
			</div>
			<br/>
			<div>
			<%= f.label :email %>
			<%= f.text_field :email, style: "width: 100% !important;padding: 8px 10px 7px;" %>
			</div>
			<br/>
			<div>
			<%= f.label :password %>
			<%= f.password_field :password, style: "width: 100% !important;padding: 8px 10px 7px;" %>
			</div>
			<br/>
			<div>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, style: "width: 100% !important;padding: 8px 10px 7px;" %>
			</div>
			<br/>
			<div>
			<%= f.submit "Create", style: "border-radius: 200px;font-weight: bold;padding: 7px 16px 6px;background: -webkit-linear-gradient(-90deg, #838a90, #414549);border: solid 1px #484e53;color: #efefef;cursor: pointer;" %>
			</div>
		<% end %>
	</div>
</div>
