<!DOCTYPE html>
<html>
<head>
	<title>Omegacleaning</title>
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
	<script src='lib/jquery.min.js'></script>
	<script src='lib/moment.min.js'></script>
	<script src='fullcalendar/fullcalendar.js'></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body style="background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#cde6f9), to(#6191bf));">
	<%= render 'layouts/header' %>
	<% flash.each do |key, value| %>
		<div style="position:relative;top:60px;"><%= value %></div>
	<% end %>
	<%= yield %>

</body>
</html>
